{% extends "base.html" %}

{% block content %}
<h1>Welcome, Gérant of {{ store.name }}</h1>

<h2>Dashboard Management</h2>
<ul>
    <a href="{% url 'gerant_dashboard:manage_employees' %}">Manage Employees</a>
    <br>
    <a href="{% url 'gerant_dashboard:manage_stock' %}">Manage Stock</a>

    <li><a href="{% url 'gerant_dashboard:reservation_list' %}">Manage Reservations</a></li>

    <li><a href="{% url 'gerant_dashboard:list_tables' %}" class="btn btn-secondary">View Tables</a>
</li>
    <li><a href="{% url 'gerant_dashboard:special_client_list' %}">Manage clients</a></li>

     <li><a href="{% url 'gerant_dashboard:expense_list' %}">Manage expensse</a></li>
    <li><a href="#">View History</a></li>
</ul>

{% endblock %}
