{% extends "base.html" %}

{% block content %}
<h1>Welcome, Gérant of {{ store.name }}</h1>

<h2>Dashboard Management</h2>
<ul>
    <a href="{% url 'gerant_dashboard:manage_employees' %}">Manage Employees</a>
    <br>
    <a href="{% url 'gerant_dashboard:manage_stock' %}">Manage Stock</a>

    <li><a href="{% url 'gerant_dashboard:reservation_list' %}">Manage Reservations</a></li>

    <li><a href="{% url 'gerant_dashboard:list_tables' %}" class="btn btn-secondary">View Tables</a></li>
    <li><a href="{% url 'gerant_dashboard:special_client_list' %}">Manage Clients</a></li>

    <li><a href="{% url 'gerant_dashboard:expense_list' %}">Manage Expenses</a></li>
    <li><a href="{% url 'gerant_dashboard:historique_menus' %}">View Menu History</a></li>


    <!-- Ajouter le lien pour voir les ingrédients nécessaires du jour -->
    <li><a href="{% url 'gerant_dashboard:daily_ingredients' %}">View Ingredients for Today's Menu</a></li>
  <li><a href="{% url 'gerant_dashboard:today_sales' %}" >sale of today</a></li>
</ul>

{% endblock %}